/*!CK:1053881230!*//*1418579323,*/

._28xh ._54nh{line-height:15px;padding-left:20px}._28xh i{position:relative;top:2px}._28xh span{white-space:normal}
._1n8r{position:absolute;right:25px;top:0}
._5qla{margin-top:2px;vertical-align:top}

#bootloader_56sFD { height: 42px; }
.bootloader_56sFD { display:block !important; }